services:
  front:
    build: ./front
    container_name: gym_front_aws
    restart: always
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
    environment:
      API_URL: http://54.234.20.89:3000
    volumes:
      - ./front:/app
      - /app/node_modules
