services:
  api:
    build: ./backend
    container_name: gym_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URL: mongodb://mongo:27017/gymdb
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: gym_mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
